binds {
  Mod+Shift+U { show-hotkey-overlay; }
  Mod+Q { close-window; }

  Print { screenshot; }

  Mod+Space { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "launcher" "toggle"; }
  Mod+T { spawn-sh "$TERMINAL"; }
  Mod+W { spawn-sh "fish -lc zen-browser"; }
  Mod+E { spawn-sh "$TERMINAL xdg-open $HOME"; }
  Mod+R { spawn "equibop"; }
  Mod+Y { spawn "spotify-launcher"; }

  Mod+D { spawn "~/.config/niri/deafen.fish"; }
  Mod+Shift+M { spawn "autoclick.sh" "1" "0xC0" "50"; }

  Mod+Alt+X { spawn "poweroff"; }

  Mod+C { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "launcher" "command"; }

  Mod+Alt+L { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "lockScreen" "lock"; }

  Mod+Shift+P { spawn "playerctl" "play-pause"; }
  Mod+Shift+N { spawn "playerctl" "next"; }
  Mod+Shift+B { spawn "playerctl" "previous"; }

  Mod+H { focus-column-left; }
  Mod+J { focus-window-down; }
  Mod+K { focus-window-up; }
  Mod+L { focus-column-right; }

  Mod+Shift+H { move-column-left; }
  Mod+Shift+L { move-column-right; }

  Mod+U { focus-workspace-down; }
  Mod+I { focus-workspace-up; }

  Mod+Tab { toggle-overview; }

  Mod+Shift+R { switch-preset-column-width; }
  Mod+Shift+K { switch-preset-window-height; }
  Mod+Shift+F { maximize-column; }
  Mod+Shift+C { center-column; }
  Mod+Alt+F { fullscreen-window; }

  Mod+Shift+S { toggle-window-floating; }

  Mod+Shift+W { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "wallpaper" "toggle"; }

  XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
  XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
  XF86AudioMute allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
  XF86AudioMicMute allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
}
