spawn-at-startup "xwayland-satellite"

spawn-at-startup "pipewire"
spawn-at-startup "pipewire-pulse"
spawn-at-startup "wireplumber"

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/%Y-%m-%d %H-%M-%S.png"
hotkey-overlay {
  skip-at-startup
}

cursor {
  xcursor-theme "Bibata-Modern-Classic"
  xcursor-size 24
  hide-when-typing
}

environment {
  QT_QPA_PLATFORMTHEME "qt6ct"
  QT_QPA_PLATFORM "wayland"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  EDITOR "nvim"
  MOZ_ENABLE_WAYLAND "1" 
}

spawn-at-startup "qs" "-c" "noctalia-shell"

output "ASUSTek COMPUTER INC VG34VQL3A TCLMDW016318" {
  mode "3440x1440@180.000"
}

include "./input.kdl"
include "./layout.kdl"
include "./rules.kdl"
include "./binds.kdl"
include "./animations.kdl"

include "./noctalia.kdl"

