input {
  keyboard {
    xkb {
      layout "se"
    }
  }

  touchpad {
    tap
    dwt
    natural-scroll
    accel-speed 0.3
  }

  mouse {
    accel-speed 0.2
  }

  workspace-auto-back-and-forth
  focus-follows-mouse max-scroll-amount="0%"
}
