layout {
  gaps 15
  center-focused-column "never"

  background-color "transparent"

  preset-column-widths {
    proportion 0.1
    proportion 0.2
    proportion 0.3
    proportion 0.4
    proportion 0.5
    proportion 0.6
    proportion 0.7
    proportion 0.8
    proportion 0.9
  }

  preset-window-heights {
    proportion 0.25
    proportion 0.5
    proportion 0.75
    proportion 1.0    
  }

  default-column-width { 
    proportion 0.5
  }

  border {
    off
  }

  shadow {
    on
    softness 15
    spread 9
    offset x=5 y=5
    color "#000"
  }
}
