layout {

    focus-ring {
        active-color   "#96ccf8"
        inactive-color "#101417"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#96ccf8"
        inactive-color "#101417"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#96ccf8"
        inactive-color "#004b70"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#96ccf880"
    }
}

recent-windows {
    highlight {
        active-color "#96ccf8"
        urgent-color "#ffb4ab"
    }
}
