layout {

    focus-ring {
        active-color   "#88d6bb"
        inactive-color "#0f1512"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#88d6bb"
        inactive-color "#0f1512"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#88d6bb"
        inactive-color "#00513f"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#88d6bb80"
    }
}

recent-windows {
    highlight {
        active-color "#88d6bb"
        urgent-color "#ffb4ab"
    }
}
