layout {

    focus-ring {
        active-color   "#9dd2ba"
        inactive-color "#111412"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#9dd2ba"
        inactive-color "#111412"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#9dd2ba"
        inactive-color "#1c4f3e"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#9dd2ba80"
    }
}

recent-windows {
    highlight {
        active-color "#9dd2ba"
        urgent-color "#ffb4ab"
    }
}
