layer-rule {
  match namespace="^noctalia-wallpaper*"
  place-within-backdrop true
}

window-rule {
  clip-to-geometry true
  geometry-corner-radius 10
}

window-rule {
  match app-id="gorilla-mod-manager"
  open-floating true
}

window-rule {
  match app-id="zed"
  open-maximized true
  open-fullscreen false
}

window-rule {
  match app-id="kitty"
  match app-id="ghostty"
  match app-id="foot"
  opacity 0.8
}

window-rule {
  match app-id="equibop"
  default-column-width {
    proportion 0.7
  }
}

window-rule {
  match app-id="Spotify"
  default-column-width {
    proportion 0.3
  }
}

window-rule {
  match app-id="steam"
  default-column-width {
    proportion 1.0
  }
}
